<html>
<head>
  <title>Tela de Login</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    
    .container {
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #f4f4f4;
    }
    
    .container h2 {
      text-align: center;
    }
    
    .container input[type="text"],
    .container input[type="password"] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    .container input[type="submit"] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
    }
    
    .container input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Tela de Login</h2>
    <form>
      <label for="username">Usuário:</label>
      <input type="text" id="username" name="username" placeholder="Digite seu usuário">
      
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" placeholder="Digite sua senha">
      
      <input type="submit" value="Entrar">

      <button id="login">Login com o Google</button>

      
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-analytics.js";
  import { getAuth ,GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-auth.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBVU5aJRFiAAJ31WTHhrr9HCwbytZYn1BQ",
    authDomain: "cadastro-web-a8c27.firebaseapp.com",
    databaseURL: "https://cadastro-web-a8c27-default-rtdb.firebaseio.com",
    projectId: "cadastro-web-a8c27",
    storageBucket: "cadastro-web-a8c27.appspot.com",
    messagingSenderId: "738655356430",
    appId: "1:738655356430:web:0fb7fe4b58545bea33de5f",
    measurementId: "G-C1E1BP0D2B"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
  const provider = new GoogleAuthProvider(app);
  document.getElementById("login").addEventListener("click", function(){
    signInWithPopup(auth, provider)
  .then((result) = {
    // This gives you a Google Access Token. You can use it to access the Google API.
    const credential = GoogleAuthProvider.credentialFromResult(result);
    const token = credential.accessToken;
    // The signed-in user info.
    const user = result.user;
    // IdP data available using getAdditionalUserInfo(result)
    // ...
  }).catch((error) = {
    // Handle Errors here.
    const errorCode = error.code;
    const errorMessage = error.message;
    // The email of the user's account used.
    const email = error.customData.email;
    // The AuthCredential type that was used.
    const credential = GoogleAuthProvider.credentialFromError(error);
    // ...
  });

  })
  

</script>
    </form>
  </div>
</body>
</html>